[submodule "themes/hugo-theme-tokiwa"]
	path = themes/hugo-theme-tokiwa
	url = https://github.com/heyeshuang/hugo-theme-tokiwa
[submodule "themes/hugo-lithium"]
	path = themes/hugo-lithium
	url = https://github.com/yihui/hugo-lithium
